@tailwind base;
@tailwind components;
@tailwind utilities;

@media (prefers-color-scheme: light) {
    :root {
        --primary-color-900: #ebebeb;
        --primary-color-800: #d6d6d6;
        --primary-color-700: #c2c2c2;
        --primary-color-600: #adadad;
        --primary-color-500: #999999;
        --primary-color-400: #7a7a7a;
        --primary-color-300: #5c5c5c;
        --primary-color-200: #3d3d3d;
        --primary-color-100: #1f1f1f;
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --primary-color-900: #1f1f1f;
        --primary-color-800: #3d3d3d;
        --primary-color-700: #5c5c5c;
        --primary-color-600: #7a7a7a;
        --primary-color-500: #999999;
        --primary-color-400: #adadad;
        --primary-color-300: #c2c2c2;
        --primary-color-200: #d6d6d6;
        --primary-color-100: #ebebeb;
    }
}

html {
    color: var(--primary-color-100);
    background-color: var(--primary-color-900);
}

/* input[type="date"],
input[type="time"] {
    border: none;
    box-sizing: border-box;
    outline: 0;
    padding-left: 0.75rem;
    display: flex;
    justify-content: center;
    position: relative;
    width: 100%;
    -moz-appearance: textfield;
    -webkit-appearance: none;
    margin: 0;
}

input[type="date"]::placeholder,
input[type="time"]::placeholder {
    font-family: "Roboto";
    font-size: 17px;
    font-style: normal;
    font-weight: 400;
}

input[type="date"]::-webkit-calendar-picker-indicator,
input[type="time"]::-webkit-calendar-picker-indicator {
    background: none;
    bottom: 0;
    color: transparent;
    cursor: pointer;
    height: auto;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: auto;
}

input[type="date"]::-webkit-datetime-edit,
input[type="time"]::-webkit-datetime-edit {
    text-align: center;
    width: 100%;
} */

input[type="time"] {
    background: url("./assets/imgs/wall-clock.png") 82% / 14% no-repeat;
}

input[type="date"] {
    background: url("./assets/imgs/calendar.png") 87.5% / 11% no-repeat;
}

input[type="time"]::-webkit-inner-spin-button,
[type="date"]::-webkit-inner-spin-button {
    display: none;
}

input[type="time"]::-webkit-calendar-picker-indicator,
input[type="date"]::-webkit-calendar-picker-indicator {
    opacity: 0;
}
